<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LinkerPleaseIncludeGenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LinkerPleaseIncludeGenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <LinkerPleaseIncludeGenerator.Properties.Settings>
            <setting name="FileSuffix" serializeAs="String">
                <value>    }
}
</value>
            </setting>
            <setting name="Events" serializeAs="String">
                <value>Click;LongClick</value>
            </setting>
            <setting name="PropertyTemplate" serializeAs="String">
                <value>            x.{Property} = UseMe(x.{Property});</value>
            </setting>
            <setting name="TypeSuffix" serializeAs="String">
                <value>       }
                </value>
            </setting>
            <setting name="TypePrefix" serializeAs="String">
                <value>        void Include{TypeWithoutDots}({Type} x)
        {</value>
            </setting>
            <setting name="FilePrefix" serializeAs="String">
                <value>using Android.Support.Design.Widget;
using Android.Support.V4.View;
using Android.Support.V7.Widget;
using Android.Views;
using Android.Widget;
using MvvmCross.Binding.Droid.Views;
using MvvmCross.Droid.Support.V7.RecyclerView;

namespace LinkerPleaseIncludeGenerator
{
    public class LinkerPleaseIncludeMeGenerated
    {
        T UseMe&lt;T&gt;(T def) =&gt; def;
</value>
            </setting>
        </LinkerPleaseIncludeGenerator.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <LinkerPleaseIncludeGenerator.Properties.Settings>
            <setting name="EventTemplate" serializeAs="String">
                <value>            x.{Property} += null;</value>
            </setting>
            <setting name="Ignore" serializeAs="String">
                <value>
                  Visible
                  BackgroundDrawableFieldState
                  SelectedTabIndex
                  BackgroundDrawableBool
                  CommandBarClickCommand
                  OpenFlyoutMenuLongPress
                  SenderOnClick
                  MvxLinearLayout.Text
                  OpenFlyoutMenu
                  TextView.TextColor
                  ImageView.DrawableId
                  ImageView.DrawableName
                  ImageView.LocalImageUrl
                  ImageView.Tint
                  LayoutNotification.NotificationVisible
                  IrisNumberPicker.NumberPickerValue
                  BarcodeView.BackgroundDrawableByteArray
                </value>
            </setting>
            <setting name="attributeToSearch" serializeAs="String">
                <value>MvxBind</value>
            </setting>
        </LinkerPleaseIncludeGenerator.Properties.Settings>
    </userSettings>
</configuration>